
#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
    user-select: none;
}

#image-track > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
    cursor: pointer;
}
.text-right {
    margin-top: 1rem;
    text-align: right;
}

#image-track.fullscreen {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
}

    #image-track.fullscreen > .image {
        max-width: 90vw;
        max-height: 90vh;
        object-fit: contain;
    }


#fullscreen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

    #fullscreen img {
        max-width: 80%;
        max-height: 80%;
        margin: auto;
        display: block;
    }
#closeBtn {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
}
.text-right
{

}
.game-title {
    font-size: 2em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.game-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.game-description {
    font-size: 1.2em;
    color: #666;
}

.game-image {
    max-width: 100%;
    height: auto;
}

.user-comment-section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
}

.comment-input {
    resize: none;
}

.submit-button {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}


}