/* Themes */
/*:root {
    font-size: 16px;
    --gray0: #f8f8f8;
    --gray1: #dbe1e8;
    --gray2: #b2becd;
    --gray3: #6c7983;
    --gray4: #454e56;
    --gray5: #2a2e35;
    --gray6: #12181b;
    --blue: #0084a5;
    --purple: #a82dd1;
    --yellow: #fff565;
}


.light {
    --bg: var(--gray0);
    --bg-nav: linear-gradient(to right, var(--gray1), var(--gray3));
    --bg-dropdown: var(--gray0);
    --text: var(--gray6);
    --border-color: var(--blue);
    --bg-solar: var(--yellow);
}
.dark {
    --bg: var(--gray5);
    --bg-nav: linear-gradient(to right, var(--gray5), var(--gray6));
    --bg-dropdown: var(--gray6);
    --text: var(--gray0);
    --border-color: var(--purple);
    --bg-solar: var(--blue);
}
.solar {
    --gray0: #fbffd4;
    --gray1: #f7f8d0;
    --gray2: #b6f880;
    --gray3: #5ec72d;
    --gray4: #3ea565;
    --gray5: #005368;
    --gray6: #003d4c;
}


#dark::before {
    background: #2a2e35;
}

#light::before {
    background: #ffffff;
}

#solar::before {
    background: var(--bg-solar);
}*/

body{
    flex-direction: column;
    margin: 0;
    padding: 0;
}
:root {
    --bg-color: rgb(20, 20, 20);
    --card-color: rgb(23, 23, 23);
}

#cards {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    max-width: 61rem;
    width: calc(100% - 20px);
}

#cards:hover > .card::after {
    opacity: 1;
}

.card {
    background-color: var(--text);
    border-radius: 1.5rem;
    cursor: pointer;
    display: flex;
    height: 16rem;
    flex-direction: column;
    position: relative;
    width: 20rem;
    z-index: 1;
}
.card:hover::before {
    opacity: 1;
}
.card::before, .card::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
}

.card::before {
    background: radial-gradient( 800px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.06), transparent 40% );
    z-index: 3;
}
.card::after {
    background: radial-gradient( 600px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.4), transparent 40% );
    z-index: 1;
}
.card > .card-content {
    background-color: var(--card-color);
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    inset: 1px;
    padding: 10px;
    position: absolute;
    z-index: 2;
}

.inverse {
    color: var(--bg);
    background: var(--text);
    border: 2px solid var(--text);
    border-radius: 0.375rem;
    padding: 0.5rem;
}

/* -- ↓ ↓ ↓ some responsiveness ↓ ↓ ↓ -- */
@media(max-width: 1000px) {
    body {
        align-items: flex-start;
        overflow: auto;
    }

    #cards {
        max-width: 1000px;
        padding: 10px 0px;
        margin-top: 100px;
        scroll-margin-top: 100px;
        z-index: 1;
    }

    .card {
        flex-shrink: 1;
        width: calc(50% -20px);
    }
}

@media(max-width: 500px) {
    .card {
        height: 180px;
    }

    .card-image {
        height: 80px;
    }

        .card-image > i {
            font-size: 3em;
        }

    .card-info-wrapper {
        padding: 0px 10px;
    }

    .card-info > i {
        font-size: 0.8em;
    }

    .card-info-title > h3 {
        font-size: 0.9em;
    }

    .card-info-title > h4 {
        font-size: 0.8em;
        margin-top: 4px;
    }
}

@media(max-width: 320px) {
    .card {
        width: 100%;
    }
}