@using Microsoft.AspNetCore.Identity
@{
    Layout = "_Layout";
    ViewData["Title"] = "Games";

}
<link rel="stylesheet" href="~/css/gameStyle.css" asp-append-version="true" />
<div id="image-track">
    <img class="image" src="~/cropped-nik_inverted.jpg" />
    <img class="image" src="~/cropped-nik_inverted.jpg" />
    <img class="image" src="~/cropped-nik_inverted.jpg" />
    <img class="image" src="~/cropped-nik_inverted.jpg" />
    <img class="image" src="~/cropped-nik_inverted.jpg" />
    <img class="image" src="~/cropped-nik_inverted.jpg" />
</div>