@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Games";
    Layout = "_Layout";
    
}
<link rel="stylesheet" href="css/style.css" />
<h1>Games</h1>

<img src="cropped-nik_inverted.jpg"/>
