@using Microsoft.AspNetCore.Identity
@{
    Layout = "_Layout";
    ViewData["Title"] = "Games";

}
<link rel="stylesheet" href="~/css/gameStyle.css" asp-append-version="true" />
<script src="~/js/GameSiteScript.js" asp-append-version="true"></script>

<main>
    <div class="col text-right">
        <a class="inverse add-game">Add Game</a>
    </div>

    <div id="image-track" data-mouse-down-at="0" data-prev-percentage="0">
        <img class="image" src="~/cropped-nik_inverted.jpg" draggable="false"/>
        <img class="image" src="~/cropped-nik_inverted.jpg" draggable="false"/>
        <img class="image" src="~/cropped-nik_inverted.jpg" draggable="false"/>
        <img class="image" src="~/cropped-nik_inverted.jpg" draggable="false"/>
        <img class="image" src="~/cropped-nik_inverted.jpg" draggable="false"/>
        <img class="image" src="~/cropped-nik_inverted.jpg" draggable="false"/>
    </div>
</main>
