@using Microsoft.AspNetCore.Identity
@model IEnumerable<Game>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Games";
}
<link rel="stylesheet" href="~/css/gameStyle.css" asp-append-version="true" />
<script src="~/js/GameSiteScript.js" asp-append-version="true"></script>

<div class="col text-right">
   @* <a href="/Home/CreateGame" class="inverse add-game">Add Game</a>*@
   <a asp-area="" asp-controller="Game" asp-action="CreateGame">Add Game</a>
</div>

<div id="image-track" data-mouse-down-at="0" data-prev-percentage="0">
    @foreach (var game in Model.GroupBy(t => t.Id))
    {
        @* <img class="image" src="@Url.Action("GetImage", "Game", game.Key)" draggable="false"> *@
        <img class ="image " src="~/cropped-nik_inverted.jpg" draggable="false">
    } 
</div>
