@using Microsoft.AspNetCore.Identity

@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}
@model F12XA6_SOF_2023241.Models.HomePageViewModel
<!--JS-->
<script src="~/js/index.js" asp-append-version="true"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js" asp-append-version="true"></script>
<script src="~/js/pacman.js" asp-append-version="true"></script>

<!--CSS-->
<link rel="stylesheet" href="~/css/index.css" asp-append-version="true"/>

<div>
    <div id="cards">
        @foreach (var studio in Model.Studios)
        {
            <a href="@Url.Action("Games", "Home", new { studioId = studio.Id })">
                <div class="card">
                    <div class="card-content">
                        <div class="card-image">
                            <img src="@Url.Action("GetLogo", "Home", new { studioId = studio.Id })" asp-append-version="true" />
                        </div>
                        <div class="title">
                            <h3>@studio.Name</h3>
                        </div>
                    </div>
                </div>
            </a>
        }
    </div>
</div>

<div class="pacman-pagination">
    @for (int i = 0; i < Model.TotalPages; i++)
    {
        <input id="dot-@(i)" type="radio" name="dots"/>
        <label for="dot-@(i)"> </label>
    }
    <div class="pacman"></div>
</div>