@using Microsoft.AspNetCore.Identity

@{
    Layout = "_Layout";
    ViewData["Title"] = "MyGames";
}
@model IEnumerable<Game>


<script src="~/js/IndexSiteScript.js" asp-append-version="true"></script>
<link rel="stylesheet" href="~/css/indexStyle.css" asp-append-version="true" />

<main>
    <div>
        <div id="cards">
            @foreach (var game in Model)
            {
                <div class="card">
                    <div class="card-content">
                        <div class="card-image">
                           @* <img src="@($"{game.}.svg")" asp-append-version="true" />*@
                        </div>
                        <div class="card-info-wrapper">
                            <div class="card-info">
                                <i class="fa-duotone fa-apartment"></i>
                                <div class="card-info-title">
                                    <h3>@game.Title</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</main>
